.cust{
    border: 0 !important;
    /* float: left; */
    margin: .75vw;
    max-width: 12.5vw;
    transition: transform 200ms ease-in;
    cursor: pointer;
  }
  
  .cust:hover{
    transform: translateY(-0.5vw);
    box-shadow: 0.5vw 1.5vw 1.5vw #bbb;
  }
  
  .title {
    padding-bottom: 10px;
  }

  .cont{
    display: flex;
    flex-wrap: wrap;
  }


  /*  Copied and slightly edited from:
   *  https://stackoverflow.com/questions/31217268/center-div-on-the-middle-of-screen 
  */
  .center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    margin-top: -120px;
  }