  /* .BookRec{
    display: grid;
    grid-template-columns: 350px, 350px, 350px;
    justify-content: space-evenly;
  }
  
  .bookList{
    display: static;
    justify-content: space-around;
    margin-top: 0vw;
  } */

  .rec-app > .row {
    overflow-x: auto;
    flex-wrap: nowrap;
  }

  
  .bookCard{
    border: 0px solid black;
    float: left;
    margin: 1vw;
    width: 12vw;
    transition: transform 200ms ease-in;
    cursor: pointer;
  
  }
  
  .bookCard:hover{
    transform: translateY(-0.5vw);
    box-shadow: 0.5vw 1.5vw 1.5vw #bbb;
  }
  
  .bookImage{
    max-width: 12vw;
    height: fit-content;
  }
