html {
    width: 100%;
}

.banner-container {
    height: 66vh;
    background-color: #5552A1;
}

.info-container {
    padding: 80px;
    height: 700px;
}

.info-section {
    align-items: center;
    justify-content: center;
}

.info-header {
    font-size: 3rem;
    padding-bottom: 80px;
}

.info {
    padding-top: 50px;
    padding-left: 500px;
    padding-right: 500px;
    height: 300px;
    text-align: center;
    font-size: 20px;
    display: inline-block;

}

.bookly-pic {
    width: 30%;
}

.button-container {
    padding-top: 240px;
    padding-bottom: 120px;
    height: 160px;
}