* {
    margin: 0;
    box-sizing: border-box;
}

.login-container{
    display: flex;
    justify-content: center;
    height: 94vh;
    background-color: #ABA8ED;
}

.login-btn {
    width: 40%;
    height: 2.5em;
}

.register-btn {
    color: black;
    text-decoration: none;
}